{% load dictionary_tags %}

<div id="menu-target">
    <ul>
        <li class="single"><a href="{% url 'home' %}">Home</a></li>
        <li class="single"><a href="{% url 'about' %}">About</a></li>
        <li class="single"><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <hr>
    <ul>
        {% comment %}{% for mainparam, sublist in view.config.items %}
            <li class="submenu"></i><i></i><a>{{ view.choice_name  | get_item:mainparam }}</a><b class="caret"></b>
                <ul class="submenu-list">
                    {% for subparam in  sublist %}
                        <li>
                            <a href="{% url 'post' main=mainparam sub=subparam %}">{{ subparam }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}{% endcomment %}
        <li class="submenu"><a>포스팅</a><b class="caret"></b>
            <ul class="submenu-list">
                <li>
                    <a href="{% url 'post_categorized_list' parent='it' child='aws' %}">AWS</a>
                </li>
                <li>
                    <a href="{% url 'post_categorized_list' parent='it' child='python' %}">Python</a>
                </li>
                <li>
                    <a href="{% url 'post_categorized_list' parent='etc' child='etc'%}">Etc</a>
                </li>
            </ul>
        </li>
        <li class="single"><a href="{% url 'activity_list' %}">Activity</a></li>
        <li class="submenu"><a>Portfolio</a><b class="caret"></b>
            <ul class="submenu-list">
                <li>
                    <a href="{% url 'portfolio' %}">PreZentainer</a>
                </li>
            </ul>
        </li>

        {% if user.is_authenticated and user.username == "quki" %}
            <li class="single"><a href="{% url 'onlyadmin' %}">Admin</a></li>
        {% endif %}
        {% include 'app/loginpartial.html' %}
    </ul>
</div>

<span class="menu-trigger animated fadeInDown">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</span>