{% extends "app/layout/layout.html" %}

{% block item %}
    <div class="main-content">

        <div class="author-bio">
            {% load static from staticfiles %}
            <img src="{% static 'test/512.png' %}">

            <div class="author-bio__info">
                <h2>Welcome to QukiHub</h2>
                <h3><a target="_blank" href="https://github.com/quki"><i class="fa fa-github"></i> Github</a></h3>
                <h3><a><i class="fa fa-envelope"></i> quki09@gmail.com</a></h3>
            </div>
        </div>
        <p>
            {% include 'app/layout/footer_simple.html' %}
    </div><!-- main content -->
{% endblock %}


{% comment %}
{% endcomment %}



