{% extends "app/layout/layout.html" %}

{% block content %}
    <main class="container left-container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="author-bio">
                    {% load static from staticfiles %}
                    <img src="{% static 'test/512.png' %}">

                    <div class="author-bio__info">
                        <h1>Welcome to QukiHub</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis necessitatibus repellat
                            et
                            similique, assumenda dolor possimus sunt repellendus ratione quas nihil expedita maiores, ex
                            id odio
                            molestiae ipsam officiis magni!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis necessitatibus repellat
                            et
                            similique, assumenda dolor possimus sunt repellendus ratione quas nihil expedita maiores, ex
                            id odio
                            molestiae ipsam officiis magni!</p>
                    </div>
                </div>
                <p>

                <h2 class="favorites">Most recommended posts</h2>

                <div class="posts-block animated fadeIn ">

                    <article class="post author-page">
                        <div class="post-preview col-xs-10  no-gutter">
                            <h2><a href="post.html">8 Reasons to quit your day job</a></h2>

                            <p>It was a cold December morning, as I sat out on my porch I decided today was the
                                day. </p>

                        </div>

                        <div class="col-sm-3 col-md-1 col-md-offset-1 hidden-sm hidden-xs no-gutter">
                            <p class="meta">
                                <span class="time"><i class="fa fa-bookmark"></i> 12</span>
                                <span class="min">minutes</span>
                            </p>
                        </div>
                    </article>

                    <article class="post author-page">
                        <div class="post-preview col-xs-10  no-gutter">
                            <h2><a href="post.html">The Best thing about cold showers</a></h2>

                            <p>Would you give up your warm shower for an icy one? </p>

                        </div>

                        <div class="col-sm-3 col-md-1 col-md-offset-1 hidden-sm hidden-xs no-gutter">
                            <p class="meta author-page">
                                <span class="time"><i class="fa fa-bookmark"></i> 19</span>
                                <span class="min">minutes</span>
                            </p>
                        </div>
                    </article>

                    <article class="post author-page">
                        <div class="post-preview col-xs-10  no-gutter">
                            <h2><a href="post.html">A great story never told</a></h2>

                            <p>It was a cold December morning, as I sat out on my porch I decided today was the
                                day. </p>

                        </div>

                        <div class="col-sm-3 col-md-1 col-md-offset-1 hidden-sm hidden-xs no-gutter">
                            <p class="meta author-page">
                                <span class="time"><i class="fa fa-bookmark"></i> 9</span>
                                <span class="min">minutes</span>
                            </p>
                        </div>
                    </article>

                    <div class="view-all-by-author">
                        <a href="index.html">View All Post by Michelle <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>

                {% include 'app/layout/footer_simple.html' %}
            </div><!-- main content -->
        </div>
    </main>
{% endblock %}


{% comment %}
{% endcomment %}



