{% extends 'app/layout.html' %}
{% block content %}
    {% load static from staticfiles %}
    <main class="container left-container">
        <div class="row">
            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                    <a href="#" class="select-categories">Categories</a>
                </div>

                <div class="home-page-posts animated fadeIn ">


                    {% for object in object_list %}
                        <article class="post">
                            <div class="post-preview col-xs-10  no-gutter">
                                <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
                                <p>
                                    {{ object.overview }}
                                </p>
                                <p class="meta">
                                    <a href="author.html">Quki</a> in <a href="category.html">Storytime</a> <i
                                        class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ object.created }}
                                </p>
                            </div>
                            <div class=" col-xs-2  no-gutter">
                                <img src="{% static 'test/512.png' %}" class="user-icon" alt="user-image">
                            </div>
                        </article>
                    {% endfor %}


                    <article class="post">
                        <div class="post-preview col-xs-10 no-gutter">
                            <h2><a href="post.html">Builing, Hacking, Creating</a></h2>
                            <p>Is it better to start from scratch or build on someone elses work. My thoughts.</p>

                            <p class="meta">
                                <a href="author.html">Mad Hacker</a> in <a href="category.html">Easy Living</a> <i
                                    class="link-spacer"></i> <i class="fa fa-bookmark"></i> 9 minute read
                            </p>
                        </div>

                        <div class=" col-xs-2 no-gutter">
                            <img src="{% static 'app/img/profile-1.jpg' %}" class="user-icon" alt="user-image">
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-preview col-xs-10 no-gutter">
                            <h2><a href="post.html">Ten reasons why you should travel, or why the city is killing your
                                inner
                                creative</a></h2>
                            <p>About time for your next adventure. </p>

                            <p class="meta">
                                <a href="author.html">Sarah Smith</a> in <a href="category.html">Adventure</a> <i
                                    class="link-spacer"></i> <i class="fa fa-bookmark"></i> 5 minute read
                            </p>
                        </div>

                        <div class="col-xs-2 no-gutter">
                            <img src="{% static 'app/img/profile-2.jpg' %}" class="user-icon" alt="user-image">
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-preview col-xs-10 no-gutter">
                            <h2><a href="post.html">Feature List</a></h2>
                            <p>Wondering what is actually included? </p>

                            <p class="meta">
                                <a href="author.html">Jane Thompson</a> in <a href="category.html">Writer</a> <i
                                    class="link-spacer"></i> <i class="fa fa-bookmark"></i> 2 minute read
                            </p>
                        </div>

                        <div class=" col-xs-2 no-gutter">
                            <img src="{% static 'app/img/profile-3.jpg' %}" class="user-icon" alt="user-image">
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-preview col-xs-10 no-gutter">
                            <h2><a href="post.html">About Writer</a></h2>
                            <p>Not another bootstrap theme </p>

                            <p class="meta">
                                <a href="author.html">John Smith</a> in <a href="category.html">Writer</a> <i
                                    class="link-spacer"></i> <i class="fa fa-bookmark"></i> 3 minute read
                            </p>
                        </div>

                        <div class=" col-xs-2 no-gutter">
                            <img src="{% static 'app/img/profile-3.jpg' %}" class="user-icon" alt="user-image">
                        </div>
                    </article>


                </div><!-- Home page posts -->

                <div class="home-page-categories hide animated fadeIn ">
                    <div class="category row">
                        <section>
                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Android</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-2.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Aruduino</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-4.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Python</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-6.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Algorithm</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-9.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Database</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-1.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Operating System</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-3.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Machine Learning</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-5.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Open Source</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-7.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Hackathon</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-8.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>AWS</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-10.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>English</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-11.jpg' %}" alt="category-image"></a>
                            </div>

                            <div class="category-preview col-xs-6 col-sm-4 ">
                                <h2>Reading</h2>
                                <a href="category.html"><img src="{% static 'app/img/cover-12.jpg' %}" alt="category-image"></a>
                            </div>

                        </section>
                    </div>
                </div>
                {% include 'app/footer.html' %}

            </section><!-- main content -->
        </div>
    </main>
{% endblock %}