{% extends "app/layout/layout.html" %}
{% load static from staticfiles %}
{% block item %}
    <div class="main-content post-item">

        <header class="hero-image" role="banner">
            <h1>{{ object.title }}</h1>
            <p class="subtitle">{{ object.overview }}</p>
            <p class="meta">
                {% for tag in object.tags.all %}
                    <a href="{% url 'tagged' tag.slug %}">#{{ tag }}</a>
                {% empty %}
                    <a>#No tag</a>
                {% endfor %}
            <br>
                <i class="fa fa-clock-o"></i> {{ object.created }}
            </p>
        </header>

        <!-- important! content는 항상 div tag로 -->
        <div class="content">{{ object.content | safe }}</div>

        {% include 'app/layout/disqus.html' %}
        {% comment %}{% include 'app/layout/recommendation.html' %}{% endcomment %}

    </div><!-- main-content/col -->

<footer class="single without-readmore">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <img src="{% static 'test/512.png' %}" class="user-icon " alt="user-image">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="category-list">
                    <p><a href="{% url 'about' %}">quki</a></p>
                    <p>Published <span>{{ object.created }}</span></p>
                    <div class="other-catergories">
                        <h3>Recommended</h3>

                        <ul>
                            <li><a href="{% url 'tagged' 'python'%}">Python</a>,</li>
                            <li><a href="{% url 'tagged' 'naver-d2' %}">NAVER-D2</a>,</li>
                            <li><a href="{% url 'tagged' 'os' %}">OS</a></li>
                        </ul>
                    </div>

                </div>
            </div><!-- end col -->
            <div class="col-xs-12 col-sm-4">
                <div class="social">
                    <p>Share this post</p>
                    <div class="social-links">
                        <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post"
                           data-url="http://www.qukihub.com/post/{{ object.slug }}"><i class="fa fa-twitter"></i></a>

                        <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post"
                           data-url="http://www.qukihub.com/post/{{ object.slug }}"><i class="fa fa-facebook-official"></i></a>

                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div>

</footer>
{% endblock %}