{% extends "app/layout/layout.html" %}
{% block content %}
    <main class="container left-container">
        <div class="row">
            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                    <a href="#" class="select-categories">Categories</a>
                </div>

                <div class="home-page-posts animated fadeIn ">

                    {% for object in object_list %}
                        <article class="post">
                            <div class="post-preview col-xs-10  no-gutter">
                                <h2><a href="{% url "post_item" slug=object.slug %}">{{ object.title }}</a></h2>
                                <p>
                                    {{ object.overview }}
                                </p>
                                <p class="meta">
                                    <a href="author.html">Quki</a> in <a href="category.html">Storytime</a> <i
                                        class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ object.created }}
                                </p>
                            </div>
                            <div class=" col-xs-2  no-gutter">
                                <img src="img/profile-1.jpg" class="user-icon" alt="user-image">
                            </div>
                        </article>
                    {% endfor %}

                </div><!-- Home page posts -->

                {% include 'app/layout/footer_simple.html' %}

            </section><!-- main content -->
        </div>
    </main>
{% endblock %}


