{% load static from staticfiles %}
<section class="sidebar col-md-5 col-sm-12"
         style="background-image: url({% static 'app/img/default-sidebar.jpg' %})">

    <div class="site-info">
        {% if view.view_name  == "home" %}
            <div class="primary-info">
                <h1>QukiHub</h1>
                <p>Welcome to QukiHub, Enjoy many IT posts, Portfolios and Activities</p>

                <p>© 2016 All Rights Reserved. Quki</p>
            </div>
            <div class="secondary-info">
                <p>
                    <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our
                        Newsletter</a>
                </p>
            </div>
        {% elif view.view_name  == "about" %}
            <div class="primary-info">
                <h1>QukiHub</h1>
                <p>Just a friendly writer, busy typing away to feed hungry eyes. </p>
            </div>
            <div class="secondary-info">

                <p><a class="btn btn-default" href="contact.html"><i class="fa fa-paper-plane"></i>Contact
                    Us</a>
            </div>
        {% elif view.view_name == "contact" %}
            <div class="primary-info">
                <h1>Contact</h1>
                <p>Our team would love to hear from you. We're here for a quick chat, a lengthy discussion
                    or
                    perhaps just a hey.</p>

            </div>
            <div class="secondary-info">

                <p><a class="btn btn-default" href="#"><i class="fa fa-user-plus"></i>Newsletter Signup</a>
            </div>
        {% endif %}
    </div>
</section><!-- end sidebar -->